<div class="card">
  <div class="card-header">
    <h1 class="card-title">Rezepte</h1>
  </div>
  <div class="card-body">
    <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#createRecipeModal"
    >
      Rezept erfassen
    </button>
  </div>
</div>

<div
  class="modal"
  id="createRecipeModal"
  tabindex="-1"
  aria-labelledby="Rezept erstellen Dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Rezept erstellen</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Schliessen"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="recipeForm">
          <div class="form-floating mb-3">
            <input
              id="name"
              class="form-control"
              type="text"
              formControlName="name"
              required
            />
            <label for="name" class="form-label">Rezeptname</label>
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="
                recipeForm.get('name')?.invalid &&
                recipeForm.get('name')?.touched
              "
            >
              Der Rezeptname muss angegeben werden.
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Abbrechen
        </button>
        <button type="button" class="btn btn-primary">Erfassen</button>
      </div>
    </div>
  </div>
</div>
