<nutrifit-layout-card pageTitle="Rezepte">
  <nutrifit-action-bar actionBar>
    <nutrifit-link
      text="Erfassen"
      color="primary"
      appearance="button"
      link="create"
    />
  </nutrifit-action-bar>
  <nutrifit-row *ngIf="recipes$ | async as recipes" body>
    <nutrifit-col *ngFor="let recipe of recipes" [columnWidth]="3">
      <nutrifit-image-card
        [imgLink]="{ text: recipe.name, href: recipe.id }"
        [imgSrc]="{
          alt: 'Ein Symbolbild eines Rezeptes. Momentan existiert für dieses Rezept noch kein echtes Bild.',
          src: 'RezeptBild.jpg'
        }"
      ></nutrifit-image-card>
    </nutrifit-col>
  </nutrifit-row>
</nutrifit-layout-card>
