<nav class="navbar navbar-expand-lg background-white">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">NutriFit</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="dashboard" routerLinkActive="active"
            >Dashboard</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="menu-plans" routerLinkActive="active"
            >Menüpläne</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="recipes" routerLinkActive="active"
            >Rezepte</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="workouts" routerLinkActive="active"
            >Workouts</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="exercises" routerLinkActive="active"
            >Übungen</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container p-4 rounded-3 shadow-md background-white mt-4">
  <router-outlet></router-outlet>
</div>
