<nutrifit-layout-card pageTitle="Rezept erfassen">
  <form [formGroup]="recipeForm" body>
    <div class="form-floating mb-3">
      <input
        id="name"
        class="form-control"
        type="text"
        formControlName="name"
        required
      />
      <label for="name" class="form-label">Rezeptname</label>
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="
          recipeForm.get('name')?.invalid && recipeForm.get('name')?.touched
        "
      >
        Der Rezeptname muss angegeben werden.
      </div>
    </div>
    <nutrifit-button
      color="primary"
      text="Speichern"
      (clicked)="createRecipe()"
      [isDisabled]="recipeForm.invalid"
    ></nutrifit-button>
    <nutrifit-link
      text="Abbrechen"
      color="secondary"
      appearance="button"
      link="/recipes"
    />
  </form>
</nutrifit-layout-card>
