<nutrifit-layout-card pageTitle="Rezept bearbeiten">
  <form [formGroup]="recipeForm">
    <div class="form-floating mb-3">
      <input
        id="name"
        class="form-control"
        type="text"
        formControlName="name"
        required
      />
      <label for="name" class="form-label">Rezeptname</label>
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="
          recipeForm.get('name')?.invalid && recipeForm.get('name')?.touched
        "
      >
        Der Rezeptname muss angegeben werden.
      </div>
    </div>
    <nutrifit-button
      color="primary"
      (clicked)="updateRecipe()"
      [isDisabled]="recipeForm.invalid"
      text="Speichern"
    >
    </nutrifit-button>
    <nutrifit-link
      color="secondary"
      link="/recipes"
      appearance="button"
      text="Abbrechen"
    ></nutrifit-link>
  </form>
</nutrifit-layout-card>
