@page "/recipes/create"

<PageCard PageTitle="Rezept erfassen">
    <Content>
        @if (OperatingSystem.IsBrowser())
        {
            <p>Diese Komponente läuft in Blazor WebAssembly!</p>
        }
        else
        {
            <p>Diese Komponente läuft in Blazor Server!</p>
        }
    </Content>
</PageCard>