<div class="card">
  <div class="card-header">
    <h1 class="card-title">Rezept erfassen</h1>
  </div>
  <div class="card-body">
    <form [formGroup]="recipeForm">
      <div class="form-floating mb-3">
        <input
          id="name"
          class="form-control"
          type="text"
          formControlName="name"
          required
        />
        <label for="name" class="form-label">Rezeptname</label>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="
            recipeForm.get('name')?.invalid && recipeForm.get('name')?.touched
          "
        >
          Der Rezeptname muss angegeben werden.
        </div>
      </div>
      <button
        type="button"
        class="btn btn-primary me-1"
        (click)="createRecipe()"
        [disabled]="recipeForm.invalid"
      >
        Speichern
      </button>
      <a class="btn btn-secondary" [routerLink]="'/recipes'">Verwerfen</a>
    </form>
  </div>
</div>
