<Row>
    <Content>
        <div class="col-md-12 d-flex justify-content-end">
            @Actions
        </div>
    </Content>
</Row>

@code {
    [Parameter]
    public required RenderFragment Actions { get; init; }
}